<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.agent.dao.role.RoleMapper">
<select id="getRoleList"   resultType="org.agent.pojo.Role" >
	
		select * from as_role 
		

	</select>	
	
	<select id="getRole"   resultType="org.agent.pojo.Role" parameterType="org.agent.pojo.Role" >
	
		select * from as_role 
		<where>
	
	 			<if test="id!=null and id!=0">and id =#{id}</if>
	
 
				<if test="roleName!=null">and roleName =#{roleName}</if>

 
	
	
	</where>
	
	</select>

	<insert id="addRole"  parameterType="org.agent.pojo.Role" >
	insert into as_role(roleName,creationTime,createdBy,lastUpdateTime,isStart)
	
	values(#{roleName},#{creationTime},#{createdBy},#{lastUpdateTime},#{isStart})

	</insert>
	
	<!-- 后面的,号 -->
	<update id="modifyRole" parameterType="org.agent.pojo.Role" >
	update as_role
	<set>
	
  		<if test="creationTime!=null"> creationTime =#{creationTime}, </if>  
		<if test="roleName!=null"> roleName =#{roleName}, </if>



	 	<if test="createdBy!=null"> createdBy =#{createdBy}, </if>  
		<if test="lastUpdateTime!=null"> lastUpdateTime =#{lastUpdateTime}, </if>
		<if test="isStart!=null"> isStart =#{isStart}, </if>
		
	
	
	</set>
	
	where id=#{id}
	</update>
	<delete id="deleteRole"  parameterType="org.agent.pojo.Role">
	
	delete from as_role where id=#{id}
	</delete>
	
	
	
	<select id="getRoleIdAndNameList"  resultType="org.agent.pojo.Role">
	select id,roleName from as_role where isStart=1 
	
	</select>
		<select id="isPeatRole"  parameterType="org.agent.pojo.Role"  resultType="int">
	select count(*) from as_role  

	<where>
	

				<if test="roleName!=null">
					and roleName =#{roleName}
					</if>

	
	
	</where>
	
	</select>
	
</mapper>